.idea
*.DS_Store
out
reports
*.class
*.state
*workspace.xml
**/.idea/workspace.xml
**/.idea/libraries
**/libraries/*.xml
*misc.xml
**/.idea/misc.xml
*.name
*ant.xml
*compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/*.xml
